openapi: 3.1.0
info:
  title: SonarCloud Issues Organizations API
  description: The SonarCloud API provides HTTP endpoints for programmatic interaction with SonarCloud — Sonar's cloud-based code quality and security analysis service. It enables management of organizations, projects, quality gates, issues, and analysis integrations with GitHub, GitLab, Bitbucket, and Azure DevOps. Token-based authentication is required for all endpoints.
  version: 1.0.0
  contact:
    name: SonarSource
    url: https://community.sonarsource.com/
  license:
    name: GNU Lesser General Public License v3.0
    url: https://www.gnu.org/licenses/lgpl-3.0.html
servers:
- url: https://sonarcloud.io/api
  description: SonarCloud API
tags:
- name: Organizations
  description: Organization management and discovery
paths:
  /organizations/search:
    get:
      operationId: searchOrganizations
      summary: Search Organizations
      description: Search for organizations on SonarCloud. Organizations are the top-level entity in SonarCloud, grouping projects from a DevOps platform account (GitHub, GitLab, Bitbucket, or Azure DevOps).
      tags:
      - Organizations
      parameters:
      - name: q
        in: query
        description: Search query to filter organizations by name or key
        schema:
          type: string
      - name: p
        in: query
        description: Page number
        schema:
          type: integer
          default: 1
      - name: ps
        in: query
        description: Page size (max 500)
        schema:
          type: integer
          default: 25
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved organizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSearchResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    OrganizationSearchResponse:
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        organizations:
          type: array
          items:
            $ref: '#/components/schemas/Organization'
    Paging:
      type: object
      properties:
        pageIndex:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
    Organization:
      type: object
      properties:
        key:
          type: string
          description: Organization key (unique identifier)
        name:
          type: string
          description: Organization display name
        guarded:
          type: boolean
          description: Whether the organization is guarded (cannot be deleted)
        visibility:
          type: string
          enum:
          - public
          - private
        subscription:
          type: string
          enum:
          - FREE
          - PAID
        alm:
          type: object
          properties:
            key:
              type: string
              enum:
              - github
              - gitlab
              - bitbucket
              - azure
            url:
              type: string
          description: Connected DevOps platform
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: SonarCloud user token. Generate at https://sonarcloud.io/account/security. Pass as Bearer token or as basic auth username with empty password.
