openapi: 3.1.0
info:
  title: SonarCloud Issues Measures API
  description: The SonarCloud API provides HTTP endpoints for programmatic interaction with SonarCloud — Sonar's cloud-based code quality and security analysis service. It enables management of organizations, projects, quality gates, issues, and analysis integrations with GitHub, GitLab, Bitbucket, and Azure DevOps. Token-based authentication is required for all endpoints.
  version: 1.0.0
  contact:
    name: SonarSource
    url: https://community.sonarsource.com/
  license:
    name: GNU Lesser General Public License v3.0
    url: https://www.gnu.org/licenses/lgpl-3.0.html
servers:
- url: https://sonarcloud.io/api
  description: SonarCloud API
tags:
- name: Measures
  description: Component metrics and measurement data
paths:
  /measures/component:
    get:
      operationId: getComponentMeasures
      summary: Get Component Measures
      description: Get metric measures for a component. Returns values for requested metric keys including coverage, bugs, vulnerabilities, code smells, duplications, technical debt, and ratings.
      tags:
      - Measures
      parameters:
      - name: component
        in: query
        required: true
        description: Component key
        schema:
          type: string
      - name: metricKeys
        in: query
        required: true
        description: Comma-separated metric keys
        schema:
          type: string
      - name: branch
        in: query
        description: Branch name
        schema:
          type: string
      - name: pullRequest
        in: query
        description: Pull request number
        schema:
          type: string
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved component measures
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentMeasuresResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    ComponentMeasuresResponse:
      type: object
      properties:
        component:
          type: object
          properties:
            key:
              type: string
            name:
              type: string
            organization:
              type: string
            measures:
              type: array
              items:
                type: object
                properties:
                  metric:
                    type: string
                  value:
                    type: string
                  bestValue:
                    type: boolean
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: SonarCloud user token. Generate at https://sonarcloud.io/account/security. Pass as Bearer token or as basic auth username with empty password.
